In [1]:
import platform
platform.architecture()

('64bit', 'WindowsPE')

In [ ]:
from pykiwoom.kiwoom import *

kiwoom = Kiwoom()
kiwoom.CommConnect(block=True)
print("블록킹 로그인 완료")

In [6]:
q = '''CREATE TABLE user (
        id int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
        name varchar(255),
        email varchar(255)
        )
        '''

cur.execute(q)

0

## 스키마

### 테이블
* 종목_종류_날짜
    * ex) 005930_trans_20220811
    * ex) 005930_order_20220811
    * ex) 066570_order_20220902

### order 스키마
* 호가 시간
* 매수 1 호가
* 매수 1 호가 잔량
* 매도 1 호가
* 매도 1 호가 잔량
* ...
* 매수 10 호가
* 매수 10 호가 잔량
* 매도 10 호가
* 매도 10 호가 잔량


### trans 스키마
* 체결 시간
* 체결가
* 체결량
* 체결 강도

In [1]:
import pymysql
from datetime import datetime

In [12]:
dt = datetime.now()
datetime.strftime(dt, '%Y%m%d')

'20220804'

In [17]:
conn = pymysql.connect(
    user='root', 
    passwd='0000', 
    host='localhost', 
    db='kiwoom', 
    charset='utf8'
)

cur = conn.cursor()

In [61]:
q = f'''CREATE TABLE {'000113'}_{'order'}_{'20220806'} (
                    time datetime NOT NULL PRIMARY KEY,
                    ask_1 int(255),
                    ask_1_amt int(255)
                    )'''

cur.execute(q)
conn.commit()

In [14]:
dt = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
dt
price = 13000
amount = 20

In [18]:
q = f'''INSERT INTO 20220804_trans_005380 (time, price, amount) VALUES (%s, %s, %s)'''
cur.execute(q, (dt, price, amount))
conn.commit()

In [22]:
q = f'''INSERT INTO 20220804_order_005380 (time, ask_1, ask_1_amt, bid_1, bid_1_amt, ask_2, ask_2_amt, 
            bid_2, bid_2_amt, ask_3, ask_3_amt, bid_3, bid_3_amt, ask_4, ask_4_amt, bid_4, bid_4_amt, ask_5, ask_5_amt, 
            bid_5, bid_5_amt) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

cur.execute(q, (dt, 
                    19000, 20, 21000, 12, 
                    19000, 20, 21000, 12, 
                    19000, 20, 21000, 12, 
                    19000, 20, 21000, 12, 
                    19000, 20, 21000, 12))
conn.commit()

In [ ]:
cursor.execute('insert into table(id, date_created) values(%s, %s)', (id, formatted_date))