In [1]:
import pymysql

In [31]:
# DBMS 연결 후 커서 반환
def get_connection(host='localhost', user='root', password='0000', database=None):
    conn = pymysql.connect(host=host,
                    user=user,
                    password=password,
                    database=database)
    cursor = conn.cursor()

    return conn, cursor


# db 선택
def set_db(cursor, db_name):
    q = f'USE {db_name}'
    cursor.execute(q)


# 현재 선택된 db 반환
def get_current(cursor):
    q = f'''SELECT DATABASE()'''
    cursor.execute(q)
    current = cursor.fetchall()

    return current[0][0]


# 테이블 생성
def create_table(cursor, table_name, items):
    q = f'''CREATE TABLE {table_name} (
                            id int NOT NULL PRIMARY KEY,
                            time datetime,
                            price int(255),
                            amount int(255)
                            )
                            '''
    cursor.execute(q)


# 테이블 제거
def remove_table(cursor, table_name):
    q = f'''DROP TABLE {table_name}'''
    cursor.execute(q)


# 레코드 추가
def insert_row(cursor, table, items):

    q = f'''INSERT INTO {table} (id, time, 
            ask_1, ask_1_amt, ask_1_before, bid_1, bid_1_amt, bid_1_before, 
            ask_2, ask_2_amt, ask_2_before, bid_2, bid_2_amt, bid_2_before, 
            ask_3, ask_3_amt, ask_3_before, bid_3, bid_3_amt, bid_3_before, 
            ask_4, ask_4_amt, ask_4_before, bid_4, bid_4_amt, bid_4_before, 
            ask_5, ask_5_amt, ask_5_before, bid_5, bid_5_amt, bid_5_before) 
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, 
            %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

    cursor.execute(q)

    return


# 테이블 목록 반환
def get_tables(cursor) -> list:
    q = f'''SHOW TABLES'''
    cursor.execute(q)
    tables = cursor.fetchall()

    return tables


# DB 목록 반환
def get_dbs(cursor) -> list:
    q = f'''SHOW DATABASES'''
    cursor.execute(q)
    dbs = cursor.fetchall()

    return dbs

In [5]:
conn, cursor = get_connection()

In [35]:
set_db(cursor, 'candles')
get_current(cursor)
print(get_dbs(cursor))

(('candles',), ('information_schema',), ('kiwoom',), ('mysql',), ('orders',), ('performance_schema',), ('sakila',), ('sys',))